:root {
  --secondaryColor: #fbde44;
  --primaryColor: #fc6e00;
}


.quantity_inner * {
    box-sizing: border-box;    
}    
.quantity_inner {
	position: absolute;
	top: 82%;
	left: 30%;
    display: inline-flex;
    border-radius: 26px;
    border: 4px solid hotpink;
}        
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
    height: 40px;
    width: 40px;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
}
.quantity_inner .quantity {
    width: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
    stroke: white;
    stroke-width: 4;
    transition: 0.5s;
    margin: 10px;
}    
.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
    stroke: hotpink;
}


.sign-wrap-4 {
  position: absolute;
  top: 100px;
}
.sign-wrap-4 .sign_word {
    font-size: 60px;
    font-weight: bold;
    line-height: 50px;
    color: hotpink;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em hotpink, 0 0 0.5em hotpink, 0 0 0.1em hotpink;
}
.sign-wrap-4 .sign_word span {
    animation: neon-4 linear infinite 3s;
}

.sign-wrap-3 {
  position: absolute;
  top: 60px;
}
.sign-wrap-3 .sign_word1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 50px;
    color: hotpink;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em hotpink, 0 0 0.5em hotpink, 0 0 0.1em hotpink;
}
.sign-wrap-3 .sign_word1 span {
    animation: neon-4 linear infinite 4s;
}

@keyframes neon-4 {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: blueviolet;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: blueviolet;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: blueviolet;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет */
  background: white;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 1.5s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13111A;
}

.slots {
    top: 60px;
    position: relative;
    width: 276.5px;
    height: 237px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: linear-gradient(45deg, midnightblue 0%, purple 100%);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    left: -20px;
}
.slots::before, .slots::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
.slots::before {
  left: 0;
  transform: translate(-200%, -50%);
}
.slots::after {
  right: 0;
  transform: translate(200%, -50%);
}
@keyframes win1 {
  0% {
    background: linear-gradient(45deg, mediumvioletred 0%, mediumvioletred 100%);
    box-shadow: 0 0 80px mediumvioletred;
  }
  100% {
    background: linear-gradient(45deg, midnightblue 0%, purple 100%);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}
@keyframes win2 {
  0% {
    background: linear-gradient(45deg, lightblue 0%, lightgreen 100%);
    box-shadow: 0 0 80px lightgreen;
  }
  100% {
    background: linear-gradient(45deg, midnightblue 0%, purple 100%);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}
.slots.win1 {
  animation: win1 200ms steps(2, end) infinite;
}
.slots.win2 {
  animation: win2 200ms steps(2, end) infinite;
}
.slots .reel {
  position: relative;
  width: 79px;
  height: 237px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-image: url(slotroll.png);
  background-position: 0 0;
  background-repeat: repeat-y;
}
.slots .reel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.4) 100%);
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.3);
}
.slots p {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, calc(100% + 30px));
  text-align: center;
  font-size: 0.8rem;
  color: #444;
}
.slots p a {
  color: red;
  font-weight: 700;
}

#machine-lever {
  position: relative;
  top: 15em;
  left: -1em; 
}

#machine-lever .lever-base , .lever-chair, .lever-chair2 {

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;

}

#machine-lever > div.lever-base {
  width: 1em;
  height: 3em;
}
.lever-chair{
    background: linear-gradient(to bottom, midnightblue 0%, mediumvioletred 15%, midnightblue 100%);
    width: 1.1em;
    height: 4em;
    left: -0.2em;
    top: -13em;
}
.lever-chair2{
    background: linear-gradient(to bottom, midnightblue 0%, mediumvioletred 35%, midnightblue 100%);
    width: 1em;
    height: 3em;
    left: 1em;
    top: -12.7em;
}


#lever-bar {
    height: 6em;
    width: 0.7em;
    background: linear-gradient(to right, #a2a3a7 0%, #fefefe 35%, #2e2a2b 100%);
    border-radius: 50%/3px;
    position: absolute;
    left: 1.17em;
    bottom: 15em;
}

#lever-ball {
    width: 2.5em;
    height: 2.5em;
    background: radial-gradient(circle at 25px 20px, mediumvioletred 100%, var(--primaryColor) 100%);
    border-radius: 50%;
    position: absolute;
    left: 0.1em;
    cursor: pointer;
    bottom: 20em;
    z-index: 9;
    -webkit-tap-highlight-color: transparent;

} 

.downBall{
  animation-name: ballDown;
  animation-duration: 1s;
}

.downBar {
  animation-name: barDown;
    animation-duration: 1s;
}
.wis-img-item{
  height: 80px;
  width: 80px;
}

@keyframes ballDown {
  0% {
    bottom:20em;
  }
  50% {
    bottom:15.5em;
  }
  100%{
    bottom:20em;
  }
  
}
@keyframes barDown{
  0% {
    height: 6em;
  }
  50% {
    height: 0.5em;
  }
  100% {
    height: 6em;
  }
}

.pulsate {
     animation: pulsate 1.5s infinite alternate;     
}

h1{
  position: absolute;
  top: 120%;
  left: 49%;
  color: #FFFFFF;
  font-family: Chalkduster, fantasy;
  letter-spacing: 0.1rem;
}

@keyframes pulsate {
    
  0% {

      text-shadow:
      0 0 4px #FF19D9,
      0 0 11px #FF19D9,
      0 0 19px #FF19D9,
      0 0 40px #FF19D9,
      0 0 80px #FF19D9;
  
  }

 100% {

    text-shadow:
    0 0 2px #CC00AA,
    0 0 4px #CC00AA,
    0 0 6px #CC00AA,
    0 0 10px #CC00AA,
    0 0 45px #CC00AA,
    0 0 55px #CC00AA,
}
}

.balanse {
    position: absolute;
  top: 120%;
  left: 10%;
  color: whitesmoke;
  font-family: Palatino Linotype;
}
}
